<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive img-rounded" src="assets/images/imagem.jpg" alt="">
    </div>
    <div class="col-md-4">
      <br /><br />
      <h1>Seja um investidor</h1>
      <p>Entre em contato agora:</p>
      <div class="form-group row col-md-12">
        <a href="mailto:contato@diaristasja.com.br">contato@diaristasja.com.br</a><br />
        <h3> (11) 9999-9999</h3>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12 colunas">
      <h2>Porque investir?</h2>
      <img class="img-responsive img-rounded icones" src="assets/images/img03.png" width="100" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
        Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae,
        suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
          Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae,
          suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
    </div>
  </div>
</div>
