<div class="col-md-5 col-sm-12">
    <span class="buscaAvancada">
    <p class="text-center float-right">Encontre a Diarista mais próxima de você,<br /> ou efetue uma busca por filtro</p>
    <div class="col-md-5 col-md-offset-3">
        <a class="float-right" href="diarista/filtro"> <img class="pointer" src="assets/images/icoBuscaAvancada.png" width="190" /> </a>
    </div>
    </span>
</div>
<div class="col-md-2 col-sm-12"></div>

<div class="col-md-5 col-sm-12">
    <span class="souDiarista">
        <p class="text-center">É diarista e quer oferecer seus serviços? <br /> Faça o seu cadastro!</p>
        <div class="col-md-5 col-md-offset-3">            
            <a href="diarista/cadastro"> <img class="pointer" src="assets/images/icoSouDiarista.png" width="190"/> </a>
        </div>
    </span>
</div>

<map></map>