<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Encontre uma diarista</h1>
        <p>Preenche os dados abaixo com as informações da diária:</p>

        <form>
          <div class="form-horizontal row col-md-12 divFiltro">

            <div class="col-md-6">
              Data
              <input class="form-control" type="date" [(ngModel)]="data" name="data" placeholder="DD/MM/AAAA">
            </div>

            <div class="col-md-6">
              Metragem
              <input class="form-control" type="text" [(ngModel)]="metragem" name="metragem" placeholder="60 m2">
            </div>

            <div class="col-md-4">
              Valor máximo:
              <input class="form-control" type="number" name="valorMaximoDiaria">
            </div>

            <div class="col-md-12 m-t-20 m-b-20">
              <strong class="alert-danger">Selecione os serviços que você precisa:</strong>
           </div>
            <app-restricoes></app-restricoes>
            <div class="col-md-12">
              Endereço
              <input id="endereco" class="form-control" [(ngModel)]="endereco" name="endereco" placeholder="Pesquise diaristas por endereço" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
            </div>
            <div class="col-md-12">
              <button class="btn btn-danger" type="reset">Limpar</button>
              <a class="btn btn-success btn-lg col-md-6 pull-right btnLogin" (click)="showResult(endereco)">Avançar</a>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-8 col-md-offset-2" *ngIf="filtroResultado.nome">
        <h1>Diaristas encontradas</h1>
        <p><strong>Nome:</strong> {{ filtroResultado.nome }}</p>
        <p><strong>Endereço:</strong> {{ filtroResultado.endereco.endereco }} - {{ filtroResultado.endereco.numero }}</p>
        <p><strong>Avaliação:</strong> <i *ngFor="let number of [1,2,3,4,5]" class="fa fa-star rating" aria-hidden="true"></i></p>        
        <p><strong>Valor:</strong> R$ <span class="valorMinimoDiaria">{{ filtroResultado.valorMinimoDiaria }}</span> a R$ <span class="valorMaximoDiaria">{{ filtroResultado.valorMaximoDiaria }}</span></p>     
      </div>
    </div>
  </div>
</div>