<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length > 0">
            <div *ngFor="let error of errorMessage">
              <span>{{error}}</span>
            </div>
        </div>

        <h1>Encontre uma diarista</h1>
        <p>Preencha os dados abaixo com as informações da diária:</p>
        <p>Ei! Os campos com (*) são obrigatórios ta bom?</p>

        <form>
          <div class="form-horizontal row col-md-12 divFiltro">

            <div class="col-md-6">
              <label>Qual a data?</label>
              <input class="form-control" type="date" [(ngModel)]="data" name="data" placeholder="DD/MM/AAAA">
            </div>

            <div class="col-md-6">
              <label>Metragem do local:</label>
              <input class="form-control" type="text" [(ngModel)]="metragem" name="metragem" placeholder="60 m2">
            </div>

            <div class="col-md-4">
              <label>Pago no máximo:*</label>
              <input class="form-control" type="number" [(ngModel)]="valorMaximoDiaria" name="valorMaximoDiaria">
            </div>

            <div class="col-md-12 m-t-20 m-b-20">
              <strong class="alert-info">O que precisará ser feito?</strong>
            </div>
            
              <app-restricoes (restricoesEvent)="receiveRestricoes($event)"></app-restricoes>

            <div class="col-md-12">
              <label>Local da diária:*</label>
              <input id="endereco" class="form-control" [(ngModel)]="endereco" name="endereco" placeholder="Qual o local da diária?"
                autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
            </div>

            <div class="col-md-12">
              <label>Diaristas até quantos kilômetros de distância?</label>

              <span class="col-md-2">
                <md-slider min="1" max="5" step="0.5" value="1.5" id="raio" type="number" [(ngModel)]="raio" name="raio"></md-slider>
              </span>
            </div>
            
            <div class="col-md-12">
              <a class="btn btn-success btn-lg col-md-6 pull-right btnLogin" (click)="busca()">Avançar</a>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="row">
        <div id="buscavazia" class="col-md-8 col-md-offset-2" [hidden]="!filtroResultadoVazio">
          <h1>Desculpe!</h1>
          <p>Infelizmente não encontramos nenhum resultado correspondente à sua pesquisa :(</p>
          <p><a href="diarista/filtro">Buscar novamente</a></p>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" [hidden]="!filtroResultadoEncontrado" id="filtroResultadoEncontrado">
        <h1>Encontramos os seguintes resultados:</h1>
        <div class="list-group">
          <span *ngFor="let diaristas of filtroResultado">
            <div class="list-group-item">
              <p><strong>Nome:</strong> {{ diaristas.nome }}</p>
              <p><strong>Avaliação:</strong> <i *ngFor="let number of [1,2,3,4,5]" class="fa fa-star rating" aria-hidden="true"></i></p>
              <p><a class="btn btn-primary col-md-3" data-toggle="modal" data-target="#exampleModal" (click)="contratarDiarista(diaristas.nome)">Contratar</a></p>
            </div><br />
          </span>
          <p><a href="diarista/filtro">Buscar novamente</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Obrigado!</h4>
      </div>
      <div class="modal-body" *ngIf="diaristaContratada">
        Nós informaremos a {{diaristaContratada}}, que avaliará a proposta e entrará em contato com você para combinar os detalhes da diária!
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>