<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <div class="alert alert-success" role="alert" *ngIf="success">
        <div *ngFor="let message of messageResponseSuccess">
          <span>{{message}}</span>
        </div>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="error">
        <div *ngFor="let message of messageResponseError">
          <span>{{message}}</span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <h1>Formulário de cadastro - Diarista</h1>
        <p>Os campos com (*) são obrigatórios:</p>

        <form (ngSubmit)="saveDiarista()" *ngIf="!success">
          <div class="form-horizontal row col-md-12 divFiltro">
            <fieldset>
              <legend>Dados de Login:</legend>

              <div class="col-md-12">
                <label>Email*</label>
                <input class="form-control" type="text" name="email" [(ngModel)]="diarista.email">
              </div>
              <div class="col-md-6">
                <label>Senha*</label>
                <input class="form-control" type="password" name="password" [(ngModel)]="diarista.password">
              </div>
              <div class="col-md-6">
                <label>Confirme a senha*</label>
                <input class="form-control" type="password" name="emconfirmesenha" [(ngModel)]="confirmaSenha">
              </div>
            </fieldset>

            <fieldset class="m-t-30">
              <legend>Dados pessoais:</legend>

              <div class="col-md-6">
                <label>Nome*</label>
                <input class="form-control" type="text" name="nome" [(ngModel)]="diarista.nome">
              </div>
              <div class="col-md-6">
                <label>Sobrenome*</label>
                <input class="form-control" type="text" name="sobreNome" [(ngModel)]="diarista.sobreNome">
              </div>
              <div class="col-md-6">
                <label>CPF*</label>
                <input class="form-control" type="text" name="documento" maxlength="11" [(ngModel)]="diarista.documento">
              </div>
              <div class="col-md-6">
                <label>Data Nascimento*</label>
                <input class="form-control" type="text" placeholder="" [(ngModel)]="diarista.dataNascimento" name="dataNascimento" onfocus="(this.type='date')">
              </div>
              <div class="col-md-2">
                <label>DDD*</label>
                <input class="form-control" type="text" name="ddd1" maxlength="3" [(ngModel)]="diarista.ddd1">
              </div>
              <div class="col-md-4">
                <label>Celular*</label>
                <input class="form-control" type="text" name="numero1" maxlength="9" [(ngModel)]="diarista.numero1">
              </div>
              <div class="col-md-2">
                <label>DDD</label>
                <input class="form-control" type="text" name="ddd2" maxlength="3" [(ngModel)]="diarista.ddd2">
              </div>

              <div class="col-md-4">
                <label>Telefone</label>
                <input class="form-control" type="text" name="numero2" maxlength="9" [(ngModel)]="diarista.numero2">
              </div>
            </fieldset>

            <fieldset class="m-t-30">
              <legend>Endereço:</legend>

              <div class="col-md-12">
                <label>Endereço e Número</label>
                <input id="endereco" class="form-control" name="endereco" placeholder="Digite seu endereço e número de residencia" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
              </div>
              <span *ngIf="diarista.endereco.cep">
                <div class="col-md-3">
                  <label>Número</label>
                  <input class="form-control" type="text" name="numero" [(ngModel)]="diarista.endereco.numero" readonly>
                </div>

                <div class="col-md-3">
                  <label>Cep</label>
                  <input class="form-control" type="text" name="cep" maxlength="8" [(ngModel)]="diarista.endereco.cep" readonly>
                </div>

                <div class="col-md-6">
                  <label>Referência</label>
                  <input class="form-control" type="text" name="referencia" [(ngModel)]="diarista.endereco.referencia">
                </div>

                <div class="col-md-6">
                  <label>Estado</label>
                  <input class="form-control" type="text" name="estado" [(ngModel)]="diarista.endereco.estado" readonly>
                </div>

                <div class="col-md-6">
                  <label>Cidade</label>
                  <input class="form-control" type="text" name="cidade" [(ngModel)]="diarista.endereco.cidade" readonly>
                </div>
              </span>
              <div class="invisible">
                <input class="form-control" type="text" name="latitude" [(ngModel)]="diarista.endereco.latitude">
                <input class="form-control" type="text" name="longitude" [(ngModel)]="diarista.endereco.longitude">
              </div>

            </fieldset>
            <div class="col-md-12">
              <button class="btn btn-success btn-lg pull-right" type="submit">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>