@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    padding: 0 0 0 0; 
}
h2{
 margin-top: 45px !important;

}

.valorMaximoDiaria{
    color: red;
  }
  
  .valorMinimoDiaria {
    color: green;
  }
.navbar-inverse{
    background: rgba(79,162,190,1) !important;
    background: -moz-linear-gradient(top, rgba(79,162,190,1) 0%, rgba(79,162,190,1) 30%, rgba(54,130,156,1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,162,190,1)), color-stop(30%, rgba(79,162,190,1)), color-stop(100%, rgba(54,130,156,1))) !important;
    background: -webkit-linear-gradient(top, rgba(79,162,190,1) 0%, rgba(79,162,190,1) 30%, rgba(54,130,156,1) 100%) !important;
    background: -o-linear-gradient(top, rgba(79,162,190,1) 0%, rgba(79,162,190,1) 30%, rgba(54,130,156,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(79,162,190,1) 0%, rgba(79,162,190,1) 30%, rgba(54,130,156,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(79,162,190,1) 0%, rgba(79,162,190,1) 30%, rgba(54,130,156,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fa2be', endColorstr='#36829c', GradientType=0 ) !important;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 4;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: transparent;
    background-color: transparent;
}
.navbar-toggle{

}
.navbar-fixed-top{
    top: 0;
    border-width: 0 0 1px;
    float: left;
    min-height: 44px;
}
.navbar-fixed-top .nav{
    padding: 0 !important;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.fa-sign-out:before{
    content: "\F08B";
    font-size: 28px;
    margin-top: -7px;
    float: right;
}
.btn-primary{
    background: #4fa2be;
    border: none;
}
.btn-primary:hover{
    background: #048dac
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}
.iconLogin{
    color: #fff;
    padding: 8px;
    float: right;
}
.iconLogoff{
    color: #fff;
    padding:  15px 0 0 7px;
    float: right;
}

.divLogo{
    float: left;
    width: 100%;
    text-align: center;
    clear: both;
    padding-bottom: 20px;
    padding-top: 60px;
    z-index: 2;
}
.colunas{
    text-align: center;
}
.icones{
    margin:0 auto;
    float: none;
    display: initial !important;
    padding-bottom: 10px;
}
.divLogin{
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 0 0 3px 3px;
}
.alignCenter{
    text-align: center; 
}
.divLogin label{
    float: left;
    width: 100%;
}
.divLogin .btnLogin{
    margin-top: 10px;
}
.divLogin .btnDiarista{
    background: url(assets/images/iconFaxpeq.png) no-repeat left 3px #048dac;
    margin-top: 10px;
    height: 88px;
    padding: 27px 0 0 20px;
    font-size: 26px;
}
.divLogin .btnCliente{
    background: url(assets/images/iconClientepeq.png) no-repeat 8px -5px #048dac;
    margin-top: 10px;
    height: 83px;
    padding: 18px 0 0 17px;
    font-size: 20px;
}
.divLogin .btnCliente:hover{
    background: url(assets/images/iconClientepeq.png) no-repeat 8px -5px #08657a;
}
.divLogin .btnDiarista:hover{
    background: url(assets/images/iconFaxpeq.png) no-repeat left 3px #08657a;
}
.divLogin input{
    margin:10px 0 0 0;
}

.divFiltro{
    padding: 0;
    margin-top: -1px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}
.divFiltro > div{
    margin:10px 0 10px 0; 
}
.divFiltro label{
    display: initial;
    max-width: auto;
    margin-top: 10px;
    float: left;
}
.divFiltro .labelCheck{
    float: left;
    padding-left: 10px;
}
.divFiltro .naofaco{
    padding: 5px 5px 5px 10px;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 17px;
}
.divFiltro .botoesForm{
    width: 100%;
    float: left;
    clear: both;
    margin-top: 10px;
}
.mapaGoogle{
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 0px;
}
.mapaGoogle iframe{
    float: left;
    width: 100%;
    height: 100%;
}
.divBusca{
    position: relative;
    z-index: 1;
}
.divBusca label[for="endereco"]{
    font-size: 0px;
}
.divBusca label[for="endereco"]:before{
    content:'Encontre a Diarista mais proxima de voce:';
    font-size: 12px;
}
.divBusca .linksBusca{
    width: 484px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    clear: both;
    background: #fff;
    height: 84px;
}
.divBusca .linksBusca li{
    list-style: none;
    background: #fff;
}
.divBusca .linksBusca li.soudiarista a{
    text-indent: -9999px;
    float: right;
    background: url(assets/images/btn-diarista.png) no-repeat;
    width: 216px;
    height: 67px;
}

.divBusca .linksBusca li.soudiarista a, .divBusca .linksBusca li.buscaAvancada a {
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  transition: box-shadow 0.3s ease-in-out;
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.divBusca .linksBusca li.soudiarista a:hover, .divBusca .linksBusca li.buscaAvancada a:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.divBusca .linksBusca li.buscaAvancada a{
    text-indent: -9999px;
    float: left;
    background: url(assets/images/btn-busca.png) no-repeat;
    width: 216px;
    height: 67px;
}

footer {
    padding: 30px 0;
}

.footerBusca {
    padding: 30px 0;
    float: left;
    clear: both;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    background: #fff;
}

.list-group-item {
    padding: 10px 15px 50px;
}

/*MAPA*/
agm-map, .sebm-google-map-container[_ngcontent-c3]{
    width: 95%;
    margin: 0 0 0 5%;
    float: left;
    border: 1px solid #e3e3e3;
}




@media(min-width:768px) {
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
@media(max-width:768px) {
    .container .row{
        margin-left: 0;
        margin-right: 0;
    }
    h1{
        font-size: 26px;
    }
    .divBusca .linksBusca{
        width: 320px;
        padding-left: 0;
    }
   
    .divLogin .btnDiarista{
        background: #048dac;
        margin-top: 10px;
        height: 83px;
        padding: 27px 0 0 10px;
        font-size: 20px;
        width: 45%;
    }
     .divLogo img{
        width: 150px;
    }
    .divLogin .btnCliente{
        background: #08657a;
        margin-top: 10px;
        height: 83px;
        padding: 18px 0 0 10px;
        font-size: 20px;
        width: 45%;
        margin-left: 3%;
    }
    .navbar-nav{
        width: 303px;
    }
    .navbar-nav li{
        position: relative;
        display: inline;
        width: 150px;
        float: left;
    }
    .divBusca .linksBusca li.buscaAvancada a, .divBusca .linksBusca li.soudiarista a{
        width: 150px;
        height: 46px;
        background-size: 150px;
    }
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}