<div class="container divBusca">
  <div class="row">
    <form>
      <div class="form-horizontal row col-md-8 col-md-offset-2 divFiltro">
        <div class="col-md-12">
          <label for="endereco">Endereço</label>
          <input id="endereco" class="form-control" placeholder="Pesquise diaristas por endereço" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
        </div>
      </div>
    </form>
  </div>
</div><br>

<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker *ngFor="let diarista of diaristasLocalizacao" [latitude]="diarista.latitude" [longitude]="diarista.longitude" [iconUrl]="'assets/images/marker.png'">
    <agm-info-window [disableAutoPan]="false">
      <strong>
        <p>{{ diarista.nome }}</p>
        <p class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </p>
        <p>R$: <span class="valorMinimoDiaria">{{ diarista.valorMinimoDiaria }}</span> a <span class="valorMaximoDiaria">{{ diarista.valorMaximoDiaria }}</span></p>
        <p>{{ diarista.endereco.endereco }}, {{ diarista.endereco.numero }}</p>
      </strong>
      <p><a [routerLink]="['/diarista/detalhe', diarista.id]">Ver Perfil</a></p>
    </agm-info-window>
  </agm-marker>
</agm-map>

