<div class="container divBusca">
  <div class="row">
    <form>
      <div class="form-horizontal row col-md-8 col-md-offset-2 divFiltro">
        <div class="col-md-12">
          <label for="endereco">Endereço</label>
          <input id="endereco" class="form-control" placeholder="Pesquise diaristas por endereço" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
        </div>
      </div>
    </form>
  </div>
</div><br>

<sebm-google-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <sebm-google-map-marker *ngFor="let diarista of diaristasLocalizacao" [latitude]="diarista.latitude" [longitude]="diarista.longitude"></sebm-google-map-marker>
</sebm-google-map>

